.Dice {
	position: absolute;
	top: -20px;
	left: -20px;

}

.rect_lo {
	fill:         #FF9999;
	fill-rule:    evenodd;
	stroke-width: 0;
}

.rect_rolu {
	fill:         #CC0000;
	fill-rule:    evenodd;
	stroke-width: 0;
}

.rect_ru {
	fill:         #660000;
	fill-rule:    evenodd;
	stroke-width: 0;
}

.circle {
	fill:         #FF0000;
	fill-rule:    evenodd;
	stroke-width: 0.5;
	stroke:       #999999;
}

.eyes {
	fill:         #FFFFFF;
	fill-rule:    evenodd;
	stroke-width: 0.5;
	stroke:       #999999;
}
