.App {
	text-align:       center;
	width:            100%;
	background-color: darkgreen;
}

.rect_lo {
	fill:         #FF9999;
	fill-rule:    evenodd;
	stroke-width: 0.23047;
}

.rect_ro {
	fill:         #cc0000;
	fill-rule:    evenodd;
	stroke-width: 0.23047;
}

.rect_ru {
	fill:         #330000;
	fill-rule:    evenodd;
	stroke-width: 0.23047;
}

.circle {
	fill:         #FF0000;
	fill-rule:    evenodd;
	stroke-width: 0.23047;
	stroke:       #999999;
}

.shadow {
	fill:         #666666;
	fill-rule:    even;
	stroke-width: 0;
}

.eyes {
	fill:         #FFFFFF;
	fill-rule:    evenodd;
	stroke-width: 0.33269;
	stroke:       #999999;
}
